@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: #34495E; 
}

::-webkit-scrollbar-thumb {
    background: #d1cdcd; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 226, 226); 
}
@keyframes logo-processor-animation {
    100% {
        transform: rotate(360deg);
    }
}

header {
    z-index: 2;
    position: sticky;
    height: 100%;
    top: 0;
}

.logo {
    margin-left: 4vw;
    font-size: 1.5rem;
}

.logo:hover svg {
    animation: logo-processor-animation 0.5s;
}
main *{
    color: black;
}
main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kontener{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1vh;
}
fieldset{
    padding:10px 30px;
}
.head{
    float: left;
    width: 100%;
    margin-top: 2vh;
}
.input{
    float:left;
    width: 100%;
    margin-top: 2vh;
}
select{
    width: 98.7%;
    padding: 10px;
}
.input input,textarea{
    width: 97.7%;
    padding: 10px;
}
.input input[type="radio"]{
    transform: scale(2);
    width: 10px;
    margin-right: 7px;
    margin-top: 10px;

}
textarea{
    resize: none;
}
.password-table{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.powrot{
    background-color: #6f42c1;
    width: fit-content;
    padding: 1vw;
    border-radius: 15px;
}
.button-powrot{
    display: flex;
    color: white;
}
.container {
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 2vh;   
    background-color: #34495E;
    border-bottom: 0.3vw solid #6f42c1;
}
table *{
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    text-align: justify;
    cursor: crosshair;
}
table caption{
    text-align: center;
}
.strong:hover *{
    background-color: #35f484c5;
}
.medium:hover *{
    background-color: #ccee31ce;
}
.weak:hover *{
    background-color: #d01928aa;
}
.zatwierdz *{
    width: 100%;
    background-color: rgb(141, 231, 7);
    border: 1px solid rgb(141, 231, 7);
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: crosshair;
    margin-top: 2vh;
}
.usun *{
    width: 100%;
    background-color: rgb(231, 7, 7);
    border: 1px solid rgb(166, 6, 6);
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: crosshair;
    margin-top: 2vh;
}
.zatwierdz *:hover{
    background-color:rgb(116, 186, 17);
}
.usun *:hover{
    background-color:rgb(166, 6, 6);
}
footer {
    background: linear-gradient(150deg,#509cc8,rgb(3, 3, 144));
    font-size: 2vh;
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.odnosniki{
    display: flex;
    justify-content: center;
}
.odnosniki a{
    display: flex;
    align-items: center;
    margin:2vw;
    border:1px solid white;
    padding: 10px;
    border-radius: 60%;
}
.odnosniki a:hover{
    cursor: pointer;
    background-color: rgba(37, 37, 220, 0.825);
    animation: logo-processor-animation 0.5s;
}
details {
    text-align: center;
}

footer summary {
    list-style: inside disclosure-closed;
}

details[open]>summary:first-of-type {
    list-style-type: disclosure-open;
}
@media (max-width:700px) {
    .logo {
        margin-top: 1.2vh;
        margin-left: 1.5vw;
    }
}